body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  background-color: hsl(240, 78%, 98%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}
.card_layout {
  margin-block-end: 40px;
}
.container {
  display: flex;
}
.card_layout h2 {
  text-align: center;
}
.span {
  text-align: center;
}

.first_card {
  border: 2px;
  background-color: white;
  border-radius: 10px;
  text-align: center;
  height: 50vh;
  font-size: 12px;
  margin-top: 50px;
  padding: 20px;
  width: 256px;
  color: hsl(233, 13%, 49%);
}
.first_card .amount {
  color: hsl(232, 13%, 33%);
}
.first_card button {
  margin-top: 20px;
  padding: 12px 70px;
  border: 0;
  border-radius: 5px;
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  font-weight: 900;
  font-size: 0.9em;
}
.amount {
  font-size: 50px;
  margin: 0;
  margin-bottom: 20px;
}
.annually {
  display: none;
}
.vl {
  width: 200px;
  border: 1px solid lightgrey;
  margin: 0 auto;
}
.second_card {
  border: 2px;
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  border-radius: 10px;
  text-align: center;
  height: 60vh;
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 20px;
  width: 256px;
  color: hsl(240, 78%, 98%);
}
.second_card button {
  margin-top: 20px;
  padding: 12px 70px;
  border: 0;
  border-radius: 5px;
  background-color: hsl(240, 78%, 98%);
  color: hsl(237, 63%, 64%);
  font-weight: 900;
  font-size: 0.9em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(237, 63%, 64%);
  border-radius: 34px;
  transition: background-color 0.2s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.2s;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
  }
  .first_card {
    height: 35vh;
    width: 100%;
    margin-top: 35px;
  }
  .second_card {
    height: 35vh;
    width: 100%;
    margin-bottom: 0;
  }
}
